/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');


/* utilities */


/* *********************************Color***************************** */
.primary_color {
    background-color: #FFF9F4;
}

.secondary_color {
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.third_color {
    color: #FA804C;
}

.card_color {
    background-color: #F1F1F1;

}


/* *************************************Text***************************** */

.text_roboto_400,
.text_roboto_500,
.text_roboto_700,
.text_roboto_900 {
    font-family: 'Roboto', sans-serif;
}

.text_roboto_400 {
    font-weight: 400;
}

.text_roboto_500 {
    font-weight: 500;
}

.text_roboto_700 {
    font-weight: 700;
}

.text_roboto_900 {
    font-weight: 900;
}

.text_bebas_neue_400 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}


/* **************************************header part********************************** */
header {
    min-height: 100vh;
}

.navbar-brand {
    width: 30%;
}

header .toast-header img {
    width: 20%;
}


/* *****************************************benefit section*************************** */

.benefit-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.benefit-section .icon {
    width: 15%;
}


/* ****************************************footer part******************************** */
footer {
    min-height: 150px;
}

footer a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

footer .facebook:hover i {
    color: #4267B2;
}

footer .twitter:hover i {
    color: #1DA1F2;
}

footer .instagram:hover i {
    color: purple;
}

/* **************************media query********************** */

@media screen and (max-width:576px) {

    .navbar-brand {
        width: 50%;
    }

}


@media screen and (min-width:577px) and (max-width:768px) {

    .navbar-brand {
        width: 50%;
    }
}

@media screen and (min-width:769px) {

    .card_color {
        min-height: 350px;
    }
}